<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <style>

    @media screen and (max-width:1024px) {
      .container{
      padding-block:20px;
      }
      
  }
  @media screen and (max-width:1024px) {
      .header {
          padding: 20px;

      }
      h1{
          font-size: 16px;
      }
      
  }
  @media screen and (max-width:1024px) {
      .Feature{
          padding-block:10px;
          display: flex;
          justify-content: center;
      }
      p{
          font-size: 16px;
      }
      
  }

  
  </style>

  
  </head>
  <body
    style="
      background-color: #f4f6f8;
      color: #333;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    "
  >
    <div
      style="
        margin: 10px auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
      "
    >
      <!--Header section-->
      <div class="header" style="width: 90%; max-width: '1000px'; text-align: center">
        <img
          src="images/fast2 book logo-05 2 1.png"
          style="max-width: 80px; margin-top: 10px"
        />
        <h1 style="font-size: 28px; font-weight: 400">
          Hi <span style="font-weight: 600; font-size: 28px">James,</span>
        </h1>
        <h1 style="font-size: 28px; font-weight: 400">
          Your Fast2book account has <br />been approved!
        </h1>
      </div>

      <!--Feature Section-->
      <div class="Feature"
        style="
          width: 70%;
          max-width: '1000px';
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          background-color: rgba(255, 255, 255, 1);
          text-align: center;
          gap: 10px;
          padding: 20px;
          box-sizing: border-box;
        "
      >
        <div
          style="
            width: 92%;
            display: flex;
            justify-content: center;
            align-items: start;
            font-size: 20px;
            font-weight: 600;
            color: rgba(94, 94, 94, 1);
          "
        >
          <h4>Before Starting your adventure</h4>
        </div>

        <!--Feature 1-->
        <div
          style="
            width: 100%;
            max-width: 1000px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            text-align: start;
            padding-left: 10px;
            padding-right: 10px;
          "
        >
          <div
            style="
              width: 170px;
              height: 170px;
              background-color: rgba(249, 249, 249, 1);
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
            "
          >
            <img
              src="images/Group (5).png"
              style="max-width: 100px"
              alt="arrow"
            />
          </div>
          <div
            style="
              display: flex;
              align-items: start;
              text-align: start;
              flex-direction: column;
               gap: 5px; 
            "
          >
            <p
              style="
                font-size: 16px;
                font-weight: bold;
                color: rgba(94, 94, 94, 1);
              "
            >
              Let’s get Started
            </p>
            <p
              style="
                font-size: 16px;
                font-weight: 300;
                color: rgba(94, 94, 94, 1);
              "
            >
              Lorem ipsum dolor sit amet consectetur<br />
              adipisicing elit. Tenetur perspiciatis voluptas<br />
              provident, quisquam cum officia inventore<br />
              ducimus distinctio beatae possimus, cumque,<br />
              voluptatem magni. Iste at, error et corrupti unde<br />
              ratione!
            </p>
            <button
              style="
                padding: 10px 30px;
                border-radius: 30px;
                background-color: rgba(247, 206, 61, 1);
                border-style: none;
                font-size: 13px;
                color: rgba(31, 31, 31, 1);
                font-weight: 500;
              "
            >
              Complete Profile
            </button>
          </div>
        </div>

        <!--Feature 2-->
        <div
          style="
            width: 100%;
            max-width: 1000px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            text-align: start;
            padding-left: 10px;
            padding-right: 10px;
          "
        >
          <div
            style="
              width: 170px;
              height: 170px;
              background-color: rgba(249, 249, 249, 1);
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
            "
          >
            <img
              src="images/Group (7).png"
              style="max-width: 100px"
              alt="arrow"
            />
          </div>
          <div
            style="
              display: flex;
              align-items: start;
              text-align: start;
              flex-direction: column;
              gap: 5px;
            "
          >
            <p
              style="
                font-size: 16px;
                font-weight: bold;
                color: rgba(94, 94, 94, 1);
              "
            >
              Verify your information
            </p>
            <p
              style="
                font-size: 16px;
                font-weight: 300;
                color: rgba(94, 94, 94, 1);
              "
            >
              Maxime ut explicabo laboriosam exercitationem<br />
              inventore harum quos consectetur distinctio,<br />
              earum illo sit, ea libero veritatis consequatur quam<br />
              aut ullam quod! Ut numquam facilis quae<br />
              repudiandae itaque.
            </p>
            <button
              style="
                padding: 10px 30px;
                border-radius: 30px;
                background-color: rgba(247, 206, 61, 1);
                border-style: none;
                font-size: 13px;
                color: rgba(31, 31, 31, 1);
                font-weight: 500;
              "
            >
              Complete Profile
            </button>
          </div>
        </div>

        <!--Feature 3-->
        <div
          style="
            width: 100%;
            max-width: 1000px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            text-align: start;
            padding-left: 10px;
            padding-right: 10px;
          "
        >
          <div
            style="
              width: 170px;
              height: 170px;
              background-color: rgba(249, 249, 249, 1);
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
            "
          >
            <img
              src="images/7472002_3676309 1.png"
              style="max-width: 100px"
              alt="arrow"
            />
          </div>
          <div
            style="
              display: flex;
              align-items: start;
              text-align: start;
              flex-direction: column;
              gap: 5px;
            "
          >
            <p
              style="
                font-size: 16px;
                font-weight: bold;
                color: rgba(94, 94, 94, 1);
              "
            >
              Get Going
            </p>
            <p
              style="
                font-size: 16px;
                font-weight: 300;
                color: rgba(94, 94, 94, 1);
              "
            >
              Maxime ut explicabo laboriosam exercitationem<br />
              inventore harum quos consectetur distinctio,<br />
              earum illo sit, ea libero veritatis consequatur quam<br />
              aut ullam quod! Ut numquam facilis quae rep.
            </p>
            <button
              style="
                padding: 10px 30px;
                border-radius: 30px;
                background-color: rgba(247, 206, 61, 1);
                border-style: none;
                font-size: 13px;
                color: rgba(31, 31, 31, 1);
                font-weight: 500;
              "
            >
              Start Exploring
            </button>
          </div>
        </div>
      </div>

      <!--App section-->
      <div
        style="
          width: 70%;
          max-width: '1000px';
          display: flex;
          justify-content: space-evenly;
          align-items: start;
          background-color: rgba(255, 255, 255, 1);
          text-align: center;
          gap:5px;
         padding: 10px;
         box-sizing: border-box;
        "
      >
        <div
          style="
            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;
            text-align: start;
            padding-bottom: 20px;
            box-sizing: border-box;
          "
        >
          <p style="font-weight: 600; font-size: 25px; color: rgba(0, 0, 0, 1)">
            Get our Fast2book<br />app!
          </p>
          <p
            style="
              font-weight: 300;
              font-size: 16px;
              color: rgba(94, 94, 94, 1);
            "
          >
            Get the most of Fast2book by installing our mobile app.<br />
            You can download Fast2book App from this link $link.
          </p>
          <div style="display: flex; gap: 10px">
            <img
              src="images/Auto Layout Horizontal (1).png"
              style="max-width: 140px; display: block;"
              alt=""
            />
            <img
              src="images/Auto Layout Horizontal.png"
              style="max-width: 140px; display: block;"
              alt=""
            />
          </div>
        </div>
        <div
          style="
            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;
            text-align: start;
          "
        >
          <div>
            <img
              src="images/Yellow.png"
              style="max-width: 100%; max-height: 180px; margin-top: 85px"
              alt="mobile"
            />
            <!-- <img src="images/fast2 book logo-05 2 1.png"
            style="max-height:130px; max-width: 70px;position:absolute;
            margin-left: -129px; margin-top: 120px;"/>
            <p style="position:absolute;
            margin-left: 39px; margin-top: -90px; margin-left: 50px; font-size: 20px; font-weight: 600; color:rgba(0, 0, 0, 1); ">Fast2book<br> app</p> -->
        </div>  
       </div>
      </div>

      <!--Footer-->
      <div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
        <div>
          <a href="#"
            ><img
              src="images/Image (1).png"
              style="width: 50px; height: auto; margin: 5px 2px"
              alt=""
          /></a>
          <a href="#"
            ><img
              src="images/Image (2).png"
              style="width: 50px; height: auto; margin: 5px 2px"
              alt=""
          /></a>
          <a href="#"
            ><img
              src="images/Image (3).png"
              style="width: 50px; height: auto; margin: 5px 2px"
              alt=""
          /></a>
          <a href="#"
            ><img
              src="images/Image (4).png"
              style="width: 50px; height: auto; margin: 5px 2px"
              alt=""
          /></a>
        </div>
        <div style="font-size: 16px; color: #777">
          <p style="font-size: 16px; font-weight: 300; color: rgba(0, 0, 0, 1)">
            Copyright © 2022
          </p>
          <p style="font-size: 16px; font-weight: 300; color: rgba(0, 0, 0, 1)">
            Fast2book
          </p>
      
      </div>
    </div>
    </div>
  </body>
</html>
