<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Booking Confirmation</title>
    <style>
      @media screen and (max-width: 1024px) {
        .container {
          padding-block: 20px;
        }
        .header {
          padding: 20px;
        }
        .h1 {
          font-size: 16px;
        }
        .main {
          padding-block: 10px;
          display: flex;
          justify-content: center;
        }
        .footer {
          display: flex;
          flex-direction: column;
        }
      }
    </style>
  </head>
  <body
    style="
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      background-color: #f4f6f8;
      color: #333;
      font-family: 'Barlow', sans-serif;
    "
  >
    <div
      class="container"
      style="
        margin: 10px auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
      "
    >
      <!-- Header -->
      <div
        class="header"
        style="
          width: 90%;
          max-width: 600px;
          margin-top: 10px;
          text-align: center;
        "
      >
        <img
          src="https://fast2book.s3.us-east-1.amazonaws.com/images/fast2 book logo-05 2 1.png"
          alt=""
          style="max-width: 80px"
        />
        <h1
          class="h1"
          style="font-size: 28px; font-weight: 400; margin-top: 4px"
        >
          Booking Confirmation
        </h1>
      </div>
      <!-- Main -->
      <div
        class="main"
        style="
          width: 90%;
          max-width: 600px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 18px;
          background-color: white;
          padding: 20px;
          border-radius: 8px;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        "
      >
        <p
          style="
            font-size: 19px;
            font-weight: 600;
            color: black;
            text-align: center;
          "
        >
          Dear Customer $user_name,<br />
          Your booking has been confirmed successfully! Below are the details of
          your reservation:
        </p>
        <div
          style="
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            background: #f9f9f9;
            padding: 10px 20px;
            border-radius: 6px;
          "
        >
          <div style="text-align: left; width: 48%">
            <p><strong>Booking ID:</strong> $booking_id</p>
            <p><strong>Date:</strong> $booking_date</p>
          </div>
          <div style="text-align: left; width: 48%">
            <p><strong>Time:</strong> $time_slot</p>
            <!-- <p><strong>Location:</strong> [Venue / Hotel Name]</p> -->
          </div>
          <div style="text-align: left; width: 48%">
            <!-- <p><strong>Guests:</strong> [Number of Guests]</p> -->
          </div>
        </div>
        <p style="font-size: 16px; font-weight: 400; color: grey">
          If you have any questions, feel free to contact us. We look forward to
          serving you!
        </p>
        <a href="#">
          <button
            style="
              padding: 10px 40px;
              border-radius: 30px;
              background-color: #ffc727;
              border-style: none;
              font-size: 16px;
              font-weight: 500;
              cursor: pointer;
            "
          >
            View Booking Details
          </button>
        </a>
      </div>
      <!-- Footer -->
      <div
        class="footer"
        style="
          margin-top: 10px;
          width: 90%;
          max-width: '1000px';
          text-align: center;
        "
      >
        <div class="social-icons" style="margin: 5px 0">
          <a href="#">
            <img
              src="https://fast2book.s3.us-east-1.amazonaws.com/images/Image (1).png"
              alt=""
              style="max-width: 50px; max-height: auto; margin: 5px 2px"
            />
          </a>
          <a href="#">
            <img
              src="https://fast2book.s3.us-east-1.amazonaws.com/images/Image (2).png"
              alt=""
              style="max-width: 50px; max-height: auto; margin: 5px 2px"
            />
          </a>
          <a href="#">
            <img
              src="https://fast2book.s3.us-east-1.amazonaws.com/images/Image (3).png"
              alt=""
              style="max-width: 50px; max-height: auto; margin: 5px 2px"
            />
          </a>
          <a href="#">
            <img
              src="https://fast2book.s3.us-east-1.amazonaws.com/images/Image (4).png"
              alt=""
              style="max-width: 50px; max-height: auto; margin: 5px 2px"
            />
          </a>
        </div>
        <div
          class="copyright"
          style="margin-top: 5px; font-size: 10px; color: #777"
        >
          <p class="p-1" style="font-size: 16px; font-weight: 600">
            Copyright © 2025
          </p>
          <p
            class="p-2"
            style="
              margin-top: 5px;
              font-size: 16px;
              font-weight: 600;
              color: black;
            "
          >
            Fast2book
          </p>
        </div>
      </div>
    </div>
  </body>
</html>