<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Login Code</title>
    <style>
      @media screen and (max-width: 1024px) {
        .container {
          padding-block: 20px;
        }
      }
      @media screen and (max-width: 1024px) {
        .header {
          padding: 20px;
        }
        .h1 {
          font-size: 16px;
        }
      }
      @media screen and (max-width: 1024px) {
        .main {
          padding-block: 10px;
          display: flex;
          justify-content: center;
        }
        .main-para2{
          font-size: 16px;
        }
      }
    

      @media screen and (max-width: 1024px) {
        .footer {
          display: flex;
          flex-direction: column;
        }
        .p-1 .p-2 {
          font-size: 16px;
        }
      }
    </style>
  </head>
  <body
    style="
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      background-color: #f4f6f8;
      color: #333;
      font-family: 'Barlow', sans-serif;
    "
  >
    <div
      class="container"
      style="
        margin: 10px auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
      "
    >
      <!-- Header -->
      <div
        class="header"
        style="width: 90%; max-width: '1000px'; margin-top: 10px; text-align: center"
      >
        <img
          src="https://fast2book.s3.us-east-1.amazonaws.com/images/fast2 book logo-05 2 1.png"
          alt=""
          style="max-width: 80px"
        />
        <h1
          class="h1"
          style="font-size: 28px; font-weight: 400; margin-top: 4px"
        >
          Login Code
        </h1>
      </div>
      <!-- Main -->
      <div
        class="main"
        style="
          width: 90%;
          max-width: '1000px';
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 18px;
          background-color: white;
          margin: 20px;
          box-sizing: border-box;
          
        "
      >
        <div
          class="main-img"
          style="
            width: 170px;
            height: 170px;
            background-color: rgba(249, 249, 249, 1);
            border-radius: 60%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 5px;
          "
        >
          <img
            class="main-img-1"
            src="https://fast2book.s3.us-east-1.amazonaws.com/images/Screens.png"
            alt=""
            style="max-width: 100px"
          />
        </div>
        <div
          class="inpt-field"
          style="
            width: 190px;
            height: 40px;
            border: 3px dashed rgba(117, 117, 117, 1);
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            font-weight: semibold;
          "
        >
          $otp
        </div>
        

        <p
          class="main-para2"
          style="font-size: 16px; font-weight: 400; color: grey"
        >
          Your login code is $otp
        </p>
        
      </div>
      <!-- Footer -->
      <div
        class="footer"
        style="margin-top: 10px; width: 90%; max-width: '1000px'; text-align: center"
      >
        <div class="social-icons" style="margin: 5px 0">
          <a href="#">
            <img
              src="https://fast2book.s3.us-east-1.amazonaws.com/images/Image (1).png"
              alt=""
              style="max-width: 50px; max-height: auto; margin: 5px 2px"
            />
          </a>
          <a href="#">
            <img
              src="https://fast2book.s3.us-east-1.amazonaws.com/images/Image (2).png"
              alt=""
              style="max-width: 50px; max-height: auto; margin: 5px 2px"
            />
          </a>
          <a href="#">
            <img
              src="https://fast2book.s3.us-east-1.amazonaws.com/images/Image (3).png"
              alt=""
              style="max-width: 50px; max-height: auto; margin: 5px 2px"
            />
          </a>
          <a href="#">
            <img
              src="https://fast2book.s3.us-east-1.amazonaws.com/images/Image (4).png"
              alt=""
              style="max-width: 50px; max-height: auto; margin: 5px 2px"
            />
          </a>
        </div>
        <div
          class="copyright"
          style="margin-top: 5px; font-size: 10px; color: #777"
        >
          <p class="p-1" style="font-size: 16px; font-weight: 600">
            Copyright © 2022
          </p>
          <p
            class="p-2"
            style="
              margin-top: 5px;
              font-size: 16px;
              font-weight: 600;
              color: black;
            "
          >
            Fast2book
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
